# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml

# Dossiers plateforme générés automatiquement (voir README)
android/
ios/
linux/
macos/
windows/
web/

# IDE
.idea/
.vscode/

# Système
.DS_Store
